@import "../../styles/variables";

.colorbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 20px;
  padding: 0 5px 0 5px;
  height: 100%;
  justify-content: center;
  background-color: unset;
  z-index: 1;
}
