@import "../../styles/variables";

.btnColor {
  padding: 0;
  border: 0;
  cursor: pointer;
  border-radius: 50%;
  margin: 3px;
  opacity: 0.8;
}

.btnColor.selected {
  opacity: 1;
}

.btnColor:hover {
  opacity: 1;
}

.buttonWrapper {
  border: 3px solid transparent;
  display: flex;
  border-radius: 50%;
}

.buttonWrapper.selected {
  border: 3px solid $violet-main;
}
