@import "../../styles/variables";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 30px;
  display: flex;
  border-bottom: 1px solid #eaeaea;
  align-items: center;
  justify-content: space-between;
  //box-shadow: #d7d7d7 0 0px 8px 0;
  background-color: $violet-main;
  z-index: 2;
}
.logo {
  font-size: 25px;
  color: white;
  font-weight: bold;
}


