.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  display: flex;
  border-bottom: 1px solid #eaeaea;
  box-shadow: #d7d7d7 0 0px 8px 0;
}
.logo {
  width: 60px;
  margin-right: auto;
}


