@import "../../styles/variables";

.btn {
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 20px;
  padding: 8px 9px 5px 10px;
  margin-left: 12px;
  background-color: unset;
}
.btnSelected {
  background-color: white;
  border-radius: 50%;
  color: $violet-main;
}

.btn:first-child{
  margin: 0;
}

.btn:active {
  transform: scale(0.95);
}
.btn:disabled {
  background-image: unset;
  transform: unset;
}





