//html {
//  cursor: none !important;
//}

.circle {
  position: fixed;
  display: inline-block;
  border-radius: 50%;
  border: 3px solid black;
  width: 10px;
  height: 10px;
  left: 0;
  right: 0;
  transition: transform .2s ease, opacity .2s ease, border-color .2s ease, background-color .2s ease;
  pointer-events: none;
}
